<div class="container mt-5">
  <h1>About Us</h1>
  <p class="lead">
    Welcome to Find my Car, where we make use machine learning to find missing cars.
  </p>

  <section class="my-5">
    <h2>Our Mission</h2>
    <p>
      Classify missing or stolen cars using a CNN implanted on a ESP32
    </p>
  </section>

  <section class="my-5">
    <h2>Our Team</h2>
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lucas Reyes</h5>
            <h5 class="card-title">Ignacio Bello</h5>
            <h5 class="card-title">Alan Fischer</h5>
            <h5 class="card-title">Marcelo Rojas</h5>
          </div>
        </div>
      </div>
      <!-- Add more team members as needed -->
    </div>
  </section>

  <section class="my-5">
    <h2>Contact Us</h2>
    <p>If you have any questions or would like to get in touch, please contact us at ibello@miuandes.cl</p>
  </section>
</div>