<h3 id="json-data">
    <%= @message_content %>
</h3>

<p>
    <%=@time%>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function fetchData() {
    $.ajax({
      url: '/fetch_data',
      method: 'GET',
      dataType: 'json',
      success: function(data) {
        //$('#json-data').text(JSON.stringify(data.message, null, 2));
        //$('#data-display').text(data.message);
        $('#json-data').text(data.message);
      }
    });
  }

  // Fetch data every 5 seconds
  setInterval(fetchData, 5000);

  // Fetch data initially when the page loads
  fetchData();
</script>

