<h1 id="json-data">
    <% if @message_content.nil?%>
        No car has been found... yet!
    <% else %>
        <% if @message_content.include? "Other" %>
            No car has been found... yet!
        <% else %>
            Found <%= @message_content %> at <%= @time %>
        <% end %>
    <% end %>
</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function fetchData() {
    $.ajax({
      url: '/fetch_data',
      method: 'GET',
      dataType: 'json',
      success: function(data) {
        //$('#json-data').text(JSON.stringify(data.message, null, 2));
        //$('#data-display').text(data.message);
        $('#json-data').text(data.message);
      }
    });
  }

  // Fetch data every 5 seconds
  setInterval(fetchData, 5000);

  // Fetch data initially when the page loads
  fetchData();
</script>

