<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    #container {
      display: flex;
      align-items: center;
    }
    #json-data {
      margin-right: 20px;
    }
  </style>
</head>
<body>
  <div id="container">
    <h3 id="json-data">
      <%= @message_content %>
      <br>
    </h3>
    <hr>
    <h4 id="time-display">
    </h4>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function fetchData() {
      $.ajax({
        url: '/fetch_data',
        method: 'GET',
        dataType: 'json',
        success: function(data) {
          if (data.message) { // Check if data.message is not empty
            $('#json-data').text(data.message);

            // Get the current time when data is received
            var fetchTime = new Date().toLocaleTimeString();

            // Update the time display element
            $('#time-display').text('Last fetched at: ' + fetchTime);
          }
        }
      });
    }

    // Fetch data every 5 seconds
    setInterval(fetchData, 5000);

    // Fetch data initially when the page loads
    fetchData();
  </script>
</body>
</html>
