<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    #container {
      display: flex;
      flex-direction: column;
    }
    .message {
      margin-bottom: 20px;
    }
    .message hr {
      margin: 10px 0;
    }
  </style>
</head>
<body>
  <div id="container">
    <% @messages.each do |message| %>
      <div class="message">
        <h3 class="message-content">
          <%= message[:content] %>
        </h3>
        <h4 class="time-display">
          Last fetched at: <%= message[:time].strftime('%I:%M %p') %>
        </h4>
        <hr>
      </div>
    <% end %>
  </div>
</body>
</html>
