<% if @received_json.present? %>
  <h2>Received Data</h2>
  <ul>
    <% @received_json.each do |key, value| %>
      <li><%= value %></li>
    <% end %>
  </ul>
<% else %>
  <p>No data received yet.</p>
<% end %>